<div class="container">

  <div class="sidebar">
    <div class="welcome-panel">
      <div class="welcome-header">
        <i class="fas fa-info-circle"></i>
        <div>
          <h3>Bienvenue sur <span class="highlight">M‑Files BOT</span></h3>
          <p class="subtitle">Explorez vos projets, accédez aux documents, métadonnées et outils intelligents.</p>
        </div>
      </div>
    </div>

    <div class="alert alert-info d-flex align-items-center mb-3" role="alert" *ngIf="!selectedObjectTypeId">
      <i class="fas fa-info-circle me-2"></i>
      <div>
        Pour afficher les projets et accéder à leurs documents, commencez par sélectionner un <strong>type
          d’objet</strong>.
      </div>
    </div>

    <label class="sidebar-label">Listes des types d'objets :</label>
    <select class="form-select mb-3" [(ngModel)]="selectedObjectTypeId" (change)="onObjectTypeChange()">
      <option [ngValue]="null" disabled selected>-- Sélectionner un type d'objet --</option>
      <option *ngFor="let type of objectTypes" [ngValue]="type.ID">{{ type.Name }}</option>
    </select>

    <label class="sidebar-label">Liste des projets :</label>
    <select class="form-select mb-3" [(ngModel)]="selectedProjectId" (change)="onProjectChange()"
      [disabled]="!projects.length">
      <option [ngValue]="undefined" disabled selected>-- Sélectionner un projet --</option>
      <option *ngFor="let project of projects" [ngValue]="project.ObjVer.ID">{{ project.Title }}</option>
    </select>

    <ul class="document-list">
      <li *ngFor="let doc of documents?.Items" (click)="selectDocument(doc)">
        <i [ngClass]="getFileIcon(doc?.Title || doc?.name || '')"></i>
        <span class="doc-title">{{ doc.Title }}</span>
      </li>
    </ul>

    <div *ngIf="loading" class="loading">Chargement en cours...</div>



  </div>

  <div class="tab-buttons">
    <button *ngFor="let tab of tabs" (click)="changeTab(tab)" [class.active]="selectedTab.id === tab.id">
      {{ tab.icon }} <span class="tab-label">{{ tab.label }}</span>
    </button>

  </div>


  <div class="metadata-panel">
    <app-metadata-viewer *ngIf="selectedTab.id === 'metadata' && selectedDocument?.metadata"
      [document]="selectedDocument" [showAllMetadata]="showAllMetadata">
    </app-metadata-viewer>
    <app-document-preview *ngIf="selectedTab.id === 'preview' && selectedDocument" [document]="selectedDocument"
      [authToken]="authToken" [baseUrl]="baseUrl">
    </app-document-preview>


    <app-filter-panel *ngIf="selectedTab.id === 'filters'" [document]="selectedDocument">
    </app-filter-panel>
    <app-chatbot *ngIf="selectedTab.id === 'aiinfo'" [document]="selectedDocument"></app-chatbot>

  </div>
  <app-toast #toast></app-toast>

</div>
