<div class="container mt-5">
    <div class="card shadow-sm p-4">
        <h2 class="text-center mb-4 d-flex align-items-center justify-content-center account-title">
            <img src="https://res.cloudinary.com/ds6qxoyjg/image/upload/v1746174798/aptvbnflvkaovg6uihol.png"
                 alt="Cloudinary Icon" class="me-2" style="width: 50px; height: 50px;">
            Account Information
          </h2>
          
          
      <form>
        <!-- Username Field -->
        <div class="mb-3">
          <label for="username" class="form-label">
            <i class="fas fa-user text-muted me-2"></i> Username :
          </label>
          <div class="input-group">
            <input type="text" class="form-control" id="username" [value]="userProfile.Username" readonly />
          </div>
        </div>
  
        <!-- Vault GUID Field -->
        <div class="mb-3">
          <label for="vaultGuid" class="form-label">
            <i class="fas fa-key text-muted me-2"></i> Vault GUID :
          </label>
          <div class="input-group">
            <input type="text" class="form-control" id="vaultGuid" [value]="userProfile.VaultGuid" readonly />
          </div>
        </div>
  
        <!-- Base URL Field -->
        <div class="mb-3">
          <label for="baseUrl" class="form-label">
            <i class="fas fa-link text-muted me-2"></i> Base URL :
          </label>
          <div class="input-group">
            <input type="text" class="form-control" id="baseUrl" [value]="userProfile.BaseUrl" readonly />
          </div>
        </div>
  
    
      </form>
    </div>
  </div>
  